<nav class="combat-tabs tabs" data-group="primary">
    <a class="item {{#if (eq currentView 'encounter')}}active{{/if}}" data-action="set-view" data-tab="encounter">
        <i class="fas fa-list-ol"></i> {{localize "COMBAT.Encounter"}}
    </a>
    <a class="item {{#if (eq currentView 'melee')}}active{{/if}}" data-action="set-view" data-tab="melee">
        <i class="fas fa-swords"></i> {{localize "NEUROSHIMA.MeleeDuel.Title"}}
    </a>
</nav>
