<div class="melee-shell">
  {{> MeleeTopBar}}

  <div class="melee-arena">
    {{> FighterCard fighter=fA side="a"}}
    {{> ArenaCenter}}
    {{> FighterCard fighter=fB side="b"}}
  </div>

  {{> MeleeActionBar}}

  {{> CombatLog}}

  {{> FooterDanger}}
</div>
