<div class="melee-shell">
  {{> MeleeHeader}}

  {{> MeleePromptBar}}

  {{> MeleeExchangeBanner}}

  <div class="melee-teams-grid">
    <section class="team-column-wrap team-column-wrap-a">
      {{> TeamColumn
          title="Drużyna A"
          team=teamsData.A
          teamKey="A"}}
    </section>

    <section class="team-column-wrap team-column-wrap-b">
      {{> TeamColumn
          title="Drużyna B"
          team=teamsData.B
          teamKey="B"}}
    </section>
  </div>

  <div class="melee-bottom-section">
      {{> ExtraAttacksPanel}}
      {{> CombatLog}}
  </div>

  {{> FooterControls}}
</div>