<div class="rest-dialog-content">
    <p>{{localize "NEUROSHIMA.Rest.Description"}}</p>
    
    <div class="rest-config-grid">
        <label>{{localize "NEUROSHIMA.Rest.Days"}}</label>
        <div class="input-with-unit">
            <input type="number" name="days" value="1" min="1" step="1">
            <span class="unit">d.</span>
        </div>

        <label>{{localize "NEUROSHIMA.Rest.RegularHealing"}}</label>
        <div class="input-with-unit">
            <input type="number" name="regularPenalty" value="5" min="1" step="1">
            <span class="unit">%</span>
        </div>

        <label>{{localize "NEUROSHIMA.Rest.BruiseHealing"}}</label>
        <div class="input-with-unit">
            <input type="number" name="bruisePenalty" value="30" min="1" step="1">
            <span class="unit">%</span>
        </div>
    </div>
</div>
