<form>
  <div class="form-group">
    <label for="weapon-type">Wybierz typ broni:</label>
    <select id="weapon-type" name="weaponType">
      <option value="weapon-melee">Broń Biała</option>
      <option value="weapon-ranged">Broń Strzelecka</option>
      <option value="weapon-thrown">Broń Miotana</option>
    </select>
  </div>
</form>