<header class="melee-header">
  <div class="melee-header__left">
    <span class="melee-header__turn">
      Tura {{turnState.turn}} | Segment {{turnState.segment}}/3
    </span>
  </div>

  <div class="melee-header__center">
    <span class="melee-header__phase">
      {{phaseLabel}}
    </span>
  </div>

  <div class="melee-header__right">
    <span class="melee-header__initiative">
      Inicjatywa: {{initiativeOwnerName}}
    </span>
  </div>
</header>