<section class="melee-prompt-bar melee-prompt-bar--{{promptTone}}">
  <div class="melee-prompt-bar__title">
    {{promptTitle}}
  </div>
  <div class="melee-prompt-bar__text">
    {{currentPrompt}}
  </div>
</section>