<div class="beast-notes-container">
  <h2 class="notes-title">Notatki</h2>
  <div class="editor-container">
    {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
  </div>
</div>