<div class="condition-check-editor-wrap">

    <div class="condition-check-editor-body">
        <code-mirror name="conditionCheckCode" language="javascript" indent="2">{{code}}</code-mirror>
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit">
            <i class="fas fa-save"></i> {{localize "NEUROSHIMA.Actions.Save"}}
        </button>
    </footer>

</div>
