<form>
    <div class="form-group">
        <label>{{localize "NEUROSHIMA.ProseMirror.FontColor"}}</label>
        <div class="form-fields">
            <color-picker name="color" value="{{ color }}"></color-picker>
        </div>
    </div>
    <footer class="form-footer">
        <button type="button" name="cancel">{{localize "Cancel"}}</button>
        <button type="button" name="update">{{localize "Update"}}</button>
    </footer>
</form>
